### Endpoints
<ol>
    <li> Timezone </li>
    <li> Countries </li>
    <li> Leagues </li>
    <li> Teams </li>
    <li> Venues </li>
    <li> Standings </li>
    <li> Fixtures </li>
    <li> Injuries </li>
    <li> Predictions </li>
    <li> Coaches </li>
    <li> Players </li>
    <li> Transfers </li>
    <li> Trophies </li>
    <li> Sidelined </li>
    <li> Odds(In-Play) </li>
    <li> Odds(Pre-Match) </li>
</ol>

---

In [47]:
import json
import pandas as pd
import itertools
from typing import Dict

from sqlalchemy import create_engine, DDL
import pymysql

---

In [7]:
def open_json_file(file_path: str) -> str:
  with open(file_path, 'r') as json_file:
    data = json.load(json_file)
  return data

In [8]:
def json_string_to_dict(json_string: str) -> Dict:
    return json.loads(json_string)

In [9]:
def json_file_to_dataframe(file_name: str) -> pd.DataFrame:

    file_path = 'data/raw_data/json_files/'

    json_string = open_json_file(f'{file_path}{file_name}')
    responses_dict = json_string_to_dict(json_string).get('response')

    return pd.DataFrame(responses_dict)

---

1) Normalized Table: country

In [10]:
countries_file_name = 'countries.json'
countries_df = json_file_to_dataframe(countries_file_name)

In [11]:
countries_df.head()

        name code                                        flag
0    Albania   AL  https://media-1.api-sports.io/flags/al.svg
1    Algeria   DZ  https://media-1.api-sports.io/flags/dz.svg
2    Andorra   AD  https://media-2.api-sports.io/flags/ad.svg
3     Angola   AO  https://media-1.api-sports.io/flags/ao.svg
4  Argentina   AR  https://media-1.api-sports.io/flags/ar.svg

In [12]:
for col in countries_df.columns:
    print(col, end = ': ')
    print(countries_df[col].is_unique)

name: True
code: False
flag: False

In [37]:
countries_df.head()

        name code                                        flag
0    Albania   AL  https://media-1.api-sports.io/flags/al.svg
1    Algeria   DZ  https://media-1.api-sports.io/flags/dz.svg
2    Andorra   AD  https://media-2.api-sports.io/flags/ad.svg
3     Angola   AO  https://media-1.api-sports.io/flags/ao.svg
4  Argentina   AR  https://media-1.api-sports.io/flags/ar.svg

---

In [44]:
tableName = "country"

sqlEngine = create_engine('mysql+pymysql://root:password@127.0.0.1', pool_recycle = 3306)
dbConnection = sqlEngine.connect()

In [50]:
database_name = 'Football'
dbConnection.execute(DDL("CREATE DATABASE IF NOT EXISTS {}".format(database_name)))
dbConnection.close()

In [52]:
sqlEngine = create_engine('mysql+pymysql://root:password@127.0.0.1/Football', pool_recycle=3306)
dbConnection = sqlEngine.connect()

tableName = "country"
countries_df.to_sql(name=tableName, con=dbConnection, if_exists='replace', index=False)

# Close the database connection
dbConnection.close()

---

2) Normalized Table: league

In [ ]:
# leagues = api_call_responses('leagues')

In [ ]:
# def flatten_dict(dictionary, parent_key='', sep='_'):
#     """
#     Flattens a nested dictionary into a single-level dictionary.

#     Args:
#         dictionary (dict): The dictionary to be flattened.
#         parent_key (str): The key of the parent dictionary.
#         sep (str): Separator used to concatenate keys.

#     Returns:
#         dict: The flattened dictionary.
#     """
#     flattened_dict = {}
#     for key, value in dictionary.items():
#         new_key = parent_key + sep + key if parent_key else key
#         if isinstance(value, dict):
#             flattened_dict.update(flatten_dict(value, new_key, sep=sep))
#         else:
#             flattened_dict[new_key] = value
#     return flattened_dict

In [ ]:
# def get_flat_league_dim(league: dict) -> dict:
# # exclude the seasons key:value pair from the original API response
# # flatten the dictionary
  
#     league_dim = {key:value for key, value in league.items() if key != 'seasons' }
#     return flatten_dict(league_dim)

In [ ]:
# league = leagues[0]
# league_dim = {key:value for key, value in league.items() if key != 'seasons' }

In [ ]:
# def update_dict(existing_dict, new_dict):
#     for key in new_dict.keys():
#         existing_dict[key] = existing_dict.get(key, []) + [new_dict[key]]

In [ ]:
# league_dict = dict()

# for league in leagues:
#     league_dim = get_flat_league_dim(league)
    
#     # exclude columns dependent on column: country_name
#     columns_to_exclude = ['country_code', 'country_flag'] 
#     league_dim = {key:value for key, value in league_dim.items() if key not in columns_to_exclude}
    
#     update_dict(league_dict, league_dim)

# league_df = pd.DataFrame(league_dict)

# print(league_df['league_id'].is_unique)

# league_df.sort_values(by = 'league_id', inplace = True)
# league_df.reset_index(drop = True, inplace=True)
# league_df.head()

---

3) Normalized Table: league_season

In [ ]:
# def flatten_list(nested_list: list):
#     return list(itertools.chain.from_iterable(nested_list))

In [ ]:
# league_season_dict = dict()

# for league in leagues:
#     league_id = league['league']['id']
#     seasons = league['seasons']

#     season_dict = dict()

#     for season in seasons:
#         flat_season = flatten_dict(season)
#         season_dict['league_id'] = season_dict.get('league_id', []) + [league_id]
#         update_dict(season_dict, flat_season)


#     update_dict(league_season_dict, season_dict)
    

# league_season_dict = {key: flatten_list(value) for key, value in league_season_dict.items()}

In [ ]:
# league_season_df = pd.DataFrame(league_season_dict)
# league_season_df.sort_values(by = ['league_id', 'year'], inplace = True)
# league_season_df.reset_index(drop = True, inplace=True)
# league_season_df.head()

---

TEAMS

In [ ]:
# def get_teams_by_league_season(league_id, season_id):
#     teams = api_call_responses(f'teams?league={league_id}&season={season_id}')

#     def filter_team_data(original_dict):
#         cols_to_include = ['team_id', 'team_name','team_code', 'team_country', 'team_founded', 'team_national', 'team_logo']
#         return {key: value for key, value in original_dict.items() if key in cols_to_include}

#     return [filter_team_data(flatten_dict(team)) for team in teams]

In [ ]:
# def get_oldest_and_latest_seasons(league_id: int):
#     league_seasons= league_season_df[league_season_df['league_id'] == league_id]['year']
#     return (league_seasons.min(), league_seasons.max())

In [ ]:
# def get_all_teams_by_league(league_id: int) -> pd.DataFrame:

#     '''
#     Will return all teams that have played in a speciic league
#     Will scan for all seasons available in the API
#     --> uses the league_season table created that pulls data form the API endpoint: 'leagues' 
#     '''
#     league_coverage_start, league_coverage_end = get_oldest_and_latest_seasons(league_id=league_id)

#     all_season_teams = [] # will contain dataframes
#     for season in range(league_coverage_start, league_coverage_end + 1):
#         team_by_season = get_teams_by_league_season(league_id= league_id, season_id = season)
#         all_season_teams.append(pd.DataFrame(team_by_season))


#     df = pd.concat(all_season_teams, axis = 0)

#     df.sort_values(by = 'team_id', inplace = True)
#     df.drop_duplicates(subset = 'team_id', keep = 'last', inplace = True)
#     df.reset_index(drop = True, inplace = True)

#     return df

In [ ]:
# PREMIER_LEAGUE_ID = 39

In [ ]:
# teams_dim_df = get_all_teams_by_league(PREMIER_LEAGUE_ID)

In [ ]:
# teams_dim_df.head()

---